
.Blog{
    position: absolute;
    left: 20%;
    width: 50%;
}
.blogTitle{
font-size: 16pt;
font-weight: bold;
}

.blogText{
    font-size: 14pt;
}

.created{
font-style: italic;
}

.comments{
    position: absolute;
    right: 10%;
    font-size: 12pt;
}

.commentBody{
    font-style: italic;
}

.commentDate{
    font-style: italic;
}
