
.Blog{
    position: absolute;
    left: 20%;
    width: 50%;
}

.blogTitle{
    font-size: 24pt;
    font-weight: bold;
}

.blogText{
    font-size: 18pt;
}

.blogCreated{
    font-size: 12pt;
    position: absolute;
    right: 0%;
}

a.blogCreate:hover, a.blogCreate:active{
    color: black;
}



