body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
  position: relative;
  font-family: sans-serif;
  background-color: #7395ae;
}

a.signout:link, a.signout:visited{
  position: relative;
  left: 86%;
  width: 7%;
  padding: .3%;
  background-color: none;
}

a.signout:hover {
  background-color: #7395ae;
  opacity: 0.75;
  text-decoration: none;
}
