.Head {
  text-align: center;
}

.App-logo {
  position: relative;
  top: 50px;
  right: 600px;
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: darkred;
  height: 15%;
  color: white;
}
.navBar {
    position: absolute;

    top: 72%;
    right: 30%;
    text-align: center;
    list-style-type: none;
    height: 10%;
    width: 40%;
}
.nav{
    float: left;
}
ul {
    list-style-type: none;
}

a:link, a:visited {
    display: block;
    width: 120px;
    background-color: #e70a0ad5 ;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

a:hover, a:active {
    background-color: rgba(7, 7, 173, 0.781);

}
     
.navbar{
    position: absolute;
    top: 420%;
    left: 2%;
    width: 10%;

 /* why is this not working */
a.nav:link, a.nav:visited {
    display: block;
    width: 120px;
    background-color: white;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.navbar img{
    width: 40px;
    height: 40px;
}
.g-signin2 {
    position: absolute;
    top: 600px;
    left: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
