.Head {
    text-align: center;
    padding: 0;
    margin: 0;
}

.App-logo {
  position: relative;
  top: 15%;
  right: 35%;
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  width: 100%;
  background-color: darkred;
  height: 15%;
  color: white;
}

.taskbar {
    position: absolute;
    top: 72%;
    right: 30%;
    text-align: center;
    list-style-type: none;
    height: 10%;
    width: 40%;
}

.task{
    float: left;
}

ul {
    list-style-type: none;
}



a:link, a:visited {
    display: block;
    width: 120px;
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

a:hover, a:active {
    background-color: blue;
}

.navbar{
    position: absolute;
    top: 420%;
    left: 2%;
    width: 10%;
}

a.nav:link, a.nav:visited {
    display: block;
    width: 120px;
    background-color: white;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.navbar img{
    width: 40px;
    height: 40px;
}

.g-signin2 {
    position: absolute;
    left: 87%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
